# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Wav play/.vs/
Wav play/Wavplay/bin/
Wav play/Wavplay/obj/
Wav read write/Wav read write/.vs/
Wav read write/Wav read write/Wav read write/bin/
Wav read write/Wav read write/Wav read write/obj/
Wav/Wav/bin/
Wav/Wav/obj/
Wave Generator/Wave Generator/bin/
Wave Generator/Wave Generator/obj/
Wave Generator/.vs/
WaveEdit_src/bin/
WaveEdit_src/obj/
/Player/Player/obj
/Player/Player/bin
/Player/AlfaPribor.VideoStorage2/bin
/Player/AlfaPribor.VideoStorage2/obj
/Player/.vs
/Player/AlfaPribor.Streams.2/obj
/Player/AlfaPribor.Streams.2/.vs
/Player/AlfaPribor.Threads/AlfaPribor.Threads/obj
/Player/AlfaPribor.VideoStorage2/.vs
/Player/AlfaPribor.Streams.2/bin
/Player/AlfaPribor.Collections/AlfaPribor.Collections/obj
/Player/AlfaPribor.Collections/AlfaPribor.Collections/bin
/Player/AlfaPribor.Threads/AlfaPribor.Threads/bin
