# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Wav play/.vs/
Wav play/Wavplay/bin/
Wav play/Wavplay/obj/
Wav read write/Wav read write/.vs/
Wav read write/Wav read write/Wav read write/bin/
Wav read write/Wav read write/Wav read write/obj/
Wav/Wav/bin/
Wav/Wav/obj/
Wave Generator/Wave Generator/bin/
Wave Generator/Wave Generator/obj/
Wave Generator/.vs/
WaveEdit_src/bin/
WaveEdit_src/obj/
/Player/Player/obj
/Player/Player/bin
/Player/AlfaPribor.VideoStorage2/bin
/Player/AlfaPribor.VideoStorage2/obj
/Player/.vs
/Player/AlfaPribor.Streams.2/obj
/Player/AlfaPribor.Streams.2/.vs
/Player/AlfaPribor.Threads/AlfaPribor.Threads/obj
/Player/AlfaPribor.VideoStorage2/.vs
/Player/AlfaPribor.Streams.2/bin
/Player/AlfaPribor.Collections/AlfaPribor.Collections/obj
/Player/AlfaPribor.Collections/AlfaPribor.Collections/bin
/Player/AlfaPribor.Threads/AlfaPribor.Threads/bin
/FPlayer/FramesPlayer/obj
/FPlayer/Components/AlfaPribor.VideoPlayer/obj
/FPlayer/Components/AlfaPribor.VideoStorage.2/.vs
/FPlayer/Components/AlfaPribor.VideoPlayer/bin
/FPlayer/Components/AlfaPribor.VideoPanels/AlfaPribor.VideoPanels/obj
/FPlayer/Components/AlfaPribor.VideoPanels/AlfaPribor.VideoPanels/.vs
/FPlayer/Components/AlfaPribor.VideoPanels/.vs
/FPlayer/Components/AlfaPribor.VideoExport/AlfaPribor.VideoExport/obj
/FPlayer/Components/AlfaPribor.Threads/AlfaPribor.Threads/obj
/FPlayer/Components/AlfaPribor.VideoExport/AlfaPribor.VideoExport/bin
/FPlayer/Components/AlfaPribor.Threads/AlfaPribor.Threads/bin
/FPlayer/Components/AlfaPribor.Streams.2/bin
/FPlayer/Components/AlfaPribor.JpegCodec/obj
/FPlayer/Components/AlfaPribor.JpegCodec/bin
/FPlayer/Components/AlfaPribor.IppInterop/AlfaPribor.IppInterop/obj
/FPlayer/Components/AlfaPribor.IppInterop/AlfaPribor.IppInterop/bin
/FPlayer/Components/AlfaPribor.DataHelper/AlfaPribor.DataHelper/obj
/FPlayer/Components/AlfaPribor.DataHelper/AlfaPribor.DataHelper/bin
/FPlayer/Components/AlfaPribor.DataHelper/AlfaPribor.DataHelper/.vs
/FPlayer/Components/AlfaPribor.DataHelper/.vs
/FPlayer/Components/AlfaPribor.Collections/AlfaPribor.Collections/obj
/FPlayer/Components/AlfaPribor.IppInterop/AlfaPribor.IppInterop/.vs
/FPlayer/Components/AlfaPribor.Collections/AlfaPribor.Collections/bin
/FPlayer/Components/AlfaPribor.VideoStorage.2/AlfaPribor.VideoStorage2/obj
/FPlayer/Components/AlfaPribor.VideoStorage.2/AlfaPribor.VideoStorage2/bin
/FPlayer/Components/AlfaPribor.VideoStorage.2/AlfaPribor.VideoStorage2/.vs
/FPlayer/Components/AlfaPribor.VideoStorage.2/AlfaPribor.VideoStorage2.Demo/obj
/FPlayer/Components/AlfaPribor.SharpDxVideoRender/AlfaPribor.SharpDxVideoRenderer/bin
/FPlayer/Components/AlfaPribor.ASKO.Shared/AlfaPribor.ASKO.Shared/bin
/FPlayer/Components/AlfaPribor.ASKO.Shared/AlfaPribor.ASKO.Shared/obj
/FPlayer/Components/AlfaPribor.ASKO.Data/AlfaPribor.ASKO.Data/obj
/FPlayer/Components/AlfaPribor.Askin.DataProvider/bin
/FPlayer/Components/AlfaPribor.Askin.DataProvider/obj
/FPlayer/.vs
/FPlayer/Components/AlfaPribor.AviFile/.vs
