<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FramesPlayer.FramePlayerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
 <userSettings>
  <FramesPlayer.FramePlayerSettings>
   <setting name="ServerName" serializeAs="String">
    <value>.\SQLEXPRESS</value>
   </setting>
   <setting name="Login" serializeAs="String">
    <value/>
   </setting>
   <setting name="Passsword" serializeAs="String">
    <value/>
   </setting>
   <setting name="DataBaseName" serializeAs="String">
    <value/>
   </setting>
   <setting name="AutorizationType" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProviderType" serializeAs="String">
    <value>0</value>
   </setting>
  </FramesPlayer.FramePlayerSettings>
 </userSettings>
</configuration>
